SourceCode/BizWebservice/BizWebservice/Web References/VanChuyen/FedexWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransportGoods">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="packageInfo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NumberOfItems" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GetPackageFromBiz" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TransportType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BizAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransportGoodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransportGoodsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackageInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="packageURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackageInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackageInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="packageURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelPackageResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="float" type="s:float" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="TransportGoodsSoapIn">
    <wsdl:part name="parameters" element="tns:TransportGoods" />
  </wsdl:message>
  <wsdl:message name="TransportGoodsSoapOut">
    <wsdl:part name="parameters" element="tns:TransportGoodsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPackageInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackageInfo" />
  </wsdl:message>
  <wsdl:message name="GetPackageInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelPackageSoapIn">
    <wsdl:part name="parameters" element="tns:CancelPackage" />
  </wsdl:message>
  <wsdl:message name="CancelPackageSoapOut">
    <wsdl:part name="parameters" element="tns:CancelPackageResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TransportGoodsHttpGetIn">
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="packageInfo" type="s:string" />
    <wsdl:part name="NumberOfItems" type="s:string" />
    <wsdl:part name="GetPackageFromBiz" type="s:string" />
    <wsdl:part name="CustomerAddress" type="s:string" />
    <wsdl:part name="TransportType" type="s:string" />
    <wsdl:part name="BizAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransportGoodsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPackageInfoHttpGetIn">
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="packageURL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPackageInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CancelPackageHttpGetIn">
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="packageURL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelPackageHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TransportGoodsHttpPostIn">
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="packageInfo" type="s:string" />
    <wsdl:part name="NumberOfItems" type="s:string" />
    <wsdl:part name="GetPackageFromBiz" type="s:string" />
    <wsdl:part name="CustomerAddress" type="s:string" />
    <wsdl:part name="TransportType" type="s:string" />
    <wsdl:part name="BizAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransportGoodsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPackageInfoHttpPostIn">
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="packageURL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPackageInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CancelPackageHttpPostIn">
    <wsdl:part name="sid" type="s:string" />
    <wsdl:part name="packageURL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelPackageHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:portType name="FedexWebService1Soap">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransportGoods">
      <wsdl:input message="tns:TransportGoodsSoapIn" />
      <wsdl:output message="tns:TransportGoodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackageInfo">
      <wsdl:input message="tns:GetPackageInfoSoapIn" />
      <wsdl:output message="tns:GetPackageInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPackage">
      <wsdl:input message="tns:CancelPackageSoapIn" />
      <wsdl:output message="tns:CancelPackageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FedexWebService1HttpGet">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpGetIn" />
      <wsdl:output message="tns:AuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TransportGoods">
      <wsdl:input message="tns:TransportGoodsHttpGetIn" />
      <wsdl:output message="tns:TransportGoodsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackageInfo">
      <wsdl:input message="tns:GetPackageInfoHttpGetIn" />
      <wsdl:output message="tns:GetPackageInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPackage">
      <wsdl:input message="tns:CancelPackageHttpGetIn" />
      <wsdl:output message="tns:CancelPackageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FedexWebService1HttpPost">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpPostIn" />
      <wsdl:output message="tns:AuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TransportGoods">
      <wsdl:input message="tns:TransportGoodsHttpPostIn" />
      <wsdl:output message="tns:TransportGoodsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackageInfo">
      <wsdl:input message="tns:GetPackageInfoHttpPostIn" />
      <wsdl:output message="tns:GetPackageInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPackage">
      <wsdl:input message="tns:CancelPackageHttpPostIn" />
      <wsdl:output message="tns:CancelPackageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FedexWebService1Soap" type="tns:FedexWebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransportGoods">
      <soap:operation soapAction="http://tempuri.org/TransportGoods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageInfo">
      <soap:operation soapAction="http://tempuri.org/GetPackageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPackage">
      <soap:operation soapAction="http://tempuri.org/CancelPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FedexWebService1Soap12" type="tns:FedexWebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransportGoods">
      <soap12:operation soapAction="http://tempuri.org/TransportGoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPackageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPackage">
      <soap12:operation soapAction="http://tempuri.org/CancelPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FedexWebService1HttpGet" type="tns:FedexWebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransportGoods">
      <http:operation location="/TransportGoods" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageInfo">
      <http:operation location="/GetPackageInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPackage">
      <http:operation location="/CancelPackage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FedexWebService1HttpPost" type="tns:FedexWebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransportGoods">
      <http:operation location="/TransportGoods" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageInfo">
      <http:operation location="/GetPackageInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPackage">
      <http:operation location="/CancelPackage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FedexWebService1">
    <wsdl:port name="FedexWebService1Soap" binding="tns:FedexWebService1Soap">
      <soap:address location="http://fedexgroup4a.somee.com/FedexWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FedexWebService1Soap12" binding="tns:FedexWebService1Soap12">
      <soap12:address location="http://fedexgroup4a.somee.com/FedexWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FedexWebService1HttpGet" binding="tns:FedexWebService1HttpGet">
      <http:address location="http://fedexgroup4a.somee.com/FedexWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FedexWebService1HttpPost" binding="tns:FedexWebService1HttpPost">
      <http:address location="http://fedexgroup4a.somee.com/FedexWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>